* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../public/backgrounds/Scoreboad.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  touch-action: manipulation;
}

.font-montserrat {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
}
